/* 
    font-family: 'Baloo Da 2', cursive;

    font-family: 'Josefin Slab', serif;

    font-family: 'Londrina Solid', cursive;

    font-family: 'Mulish', sans-serif;

    font-family: 'Press Start 2P', cursive;

    font-family: 'VT323', monospace;
*/

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Londrina+Solid:wght@300;400&family=Mulish:ital,wght@0,500;0,600;1,500&family=Press+Start+2P&family=VT323&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

* {
  margin: 0em;
  padding: 0em;
  list-style: none;
  text-decoration: none;
}

.navmenu {
  background-color: rgba(0, 0, 0, 0);
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 5px;
  transition: 300ms;
}

.navmenu:hover {
  border: 1.5px solid #400040;
  padding: 0.5rem;
  border-radius: 5px;
}

.navmenu .line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  animation: zoom 20s;
}

.me-image-wrapper {
  position: absolute;
  top: 2em;
  left: 10em;
}

.me-image-wrapper img {
  height: 30vh;
  border-radius: 5px;
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 40%;
  left: 6%;
  animation: moveBanner 1s;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner h1 {
  color: #ffffff;
  font-size: 2.1rem;
  font-family: "Mulish", sans-serif;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.1);
}

.banner .h1-half {
  color: black;
}

.banner p {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.1);
}

.banner .btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  text-align: center;
  width: 30%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 1em;
  animation: moveBanner 0.8s;
  cursor: pointer;
}

.banner .btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.banner .btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.banner .btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.banner .btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
}

.sidebar.show-menu {
  right: 0rem;
}

.menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.menu-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  color: #555;
  transition: color 1s;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.3rem;
}

.menu-link:hover {
  color: #400040;
  border: 1.5px solid #400040;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-media i {
  height: 2.5rem;
  width: 2.5rem;
  color: #000;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  padding-top: 0.5rem;
  transition: border 0.5s;
}

.social-media i:hover {
  color: #400040;
  border: 2px solid #400040;
}
